:root {
	/* Определяем основные цвета */
	--main-bg-color: #2d2d2d; /* Темно-серый фон */
	--text-color: #ffffff; /* Белый цвет текста для лучшей читаемости на темном фоне */
	--header-color: #e0e0e0; /* Светлый цвет для заголовков */
	--content-bg-color: #3a3a3a; /* Немного светлее фона для page-content */
	--button-bg-color: #555555; /* Еще светлее для кнопок */
	--button-hover-color: #bbbbbb; /* Очень светлый при наведении */

	--transition-duration: 0.3s; /* длительность анимации фона*/
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color); /* Темно-серый фон */
	color: var(--text-color); /* Белый текст для контраста */
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#page-transition {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 1;
	z-index: 1000;
	transition: opacity var(--transition-duration);
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.page-content {
	max-width: 800px;
	width: 90%;
	background-color: var(--content-bg-color); /* Немного светлее фона */
	padding: 20px;
	margin: 40px 0 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
	color: var(--header-color); /* Светлый цвет для заголовков */
}

p {
	line-height: 1.6;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--button-bg-color); /* Еще светлее для кнопок */
	color: var(--text-color); /* Белый текст на кнопках */
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	margin: 20px 0;
}

	.button:hover {
		background-color: var(--button-hover-color); /* Очень светлый при наведении */
	}

/* Для страниц */
body > h1 {
	text-align: center;
}
